body {
    font-family: Arial, sans-serif;
    background-color: #CD6886;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container do login */
.login-container {
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

/* Título do formulário */
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #8b1a1a;
}

/* Estilo dos campos de entrada */
.input-container {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #E2C9D5;
    outline: none;
}

/* Estilo do botão */
button {
    width: 100%;
    padding: 12px;
    background-color: #7c2b36;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #9b4343;
}

/* Estilo do link "Esqueceu sua senha?" */
a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #812A3B;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

/* Responsividade - Ajustes para telas menores */
@media (max-width: 600px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    button {
        padding: 10px;
        font-size: 14px;
    }
}